.gradle/
**/build/
build/
local.properties
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
google-services.json
crashlytics-build.properties
fabric.properties
.compose-cache/
*.jks
*.keystore
.kotlinc/
test-results/
*.ec
__MACOSX/
